<div class="grid-container animated fadeIn">
    <mat-card class="mat-elevation-z4">
        <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                <h2 class="mat-h2">Empresa Cidenet Empleados</h2>
            </div>
        </mat-card-title>
        <mat-card-content *ngIf="!Filtrar"> 

            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                    <h3 class="mat-h2">Formulario de Registro</h3>
                </div>
                <div fxLayout="row" fxLayoutAlign="end end">
                    <small style="font-size: 10px !important;">
                        * Indica campo requerido.
                    </small>
                </div>
            </mat-card-title>
            

            <div fxLayout="column">
                <form [formGroup]="Formulario" (ngSubmit)="submitFormulario()">

                    <div fxLayout="column" class="overflow-scroll">
                        <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Primer Apellido</mat-label>
                                <input matInput type="text" formControlName="nm_PrimerApellido"  class="input-upper"  (keypress)="keyPressAlphaNumeric($event)"  maxlength="20" [required]="obligatorio">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Segundo Apellido</mat-label>
                                <input matInput type="text" formControlName="nm_SegundoApellido" class="input-upper"  (keypress)="keyPressAlphaNumeric($event)"  maxlength="20" [required]="obligatorio">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Primer nombre</mat-label>
                                <input matInput type="text" formControlName="nm_PrimerNombre"   class="input-upper"  (keypress)="keyPressAlphaNumeric($event)"  maxlength="20" [required]="obligatorio">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Otros nombres</mat-label>
                                <input matInput type="text" formControlName="nm_OtrosNombres" class="input-upper" (keypress)="keyPressAlphaNumeric($event)"  maxlength="50">
                            </mat-form-field>
                        </div>
                    </div>


                        <div fxLayout="column" class="overflow-scroll">
                            <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
                                <mat-form-field fxFlex="25" class="espacios">
                                    <mat-label>País</mat-label>
                                    <mat-select formControlName="Id_Pais" class="font" [required]="obligatorio">
                                        <mat-option *ngFor="let pais of PaisTypeDataSource" [value]="pais.value">
                                            {{pais.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="25" class="espacios">
                                    <mat-label>Tipo de identificación</mat-label>
                                    <mat-select formControlName="TipoIdentificacion" class="font" [required]="obligatorio">
                                        <mat-option *ngFor="let identifiacacion of IdentificationTypeDataSource"
                                            [value]="identifiacacion.value">
                                            {{identifiacacion.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex class="espacios">
                                    <mat-label>Numero de Identificación</mat-label>
                                    <input matInput type="text" formControlName="cd_NumeroIdentificacion" maxlength="20" [required]="obligatorio">
                                </mat-form-field>

                               
                                    <mat-form-field appearance="fill" *ngIf="FechaDisabled" >
                                        <mat-label>Fecha de Ingreso</mat-label>
                                        <input matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" formControlName="dt_FechaIngreso" [required]="obligatorio">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              

                                <div fxLayout="row" *ngIf="!FechaDisabled">
                                    Fecha de Ingreso: <br/>
                                     {{FechaIngresoMostrar | date: 'M/d/yyyy, h:mm ss'}}
                                </div>

                            </div>
                        </div>

                        <div fxLayout="column" class="overflow-scroll">
                            <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">

                                <mat-form-field fxFlex="25" class="espacios">
                                    <mat-label>Area</mat-label>
                                    <mat-select formControlName="Id_Area" class="font" [required]="obligatorio">
                                        <mat-option *ngFor="let area of AreasTypeDataSource" [value]="area.value">
                                            {{area.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div fxLayout="column" class="overflow-scroll">
                                    <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
                                        <mat-checkbox #checkbox formControlName="estadoF" class="espacios" [disabled]="true" >
                                            Estado
                                        </mat-checkbox>
                                    </div>
                                </div>

                                <div fxLayout="row">
                                        <label>Fecha y hora de registro:  {{fechaActual }}</label>
                                        
                                </div>
                                    

                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxLayoutAlign="end end">
                            <button mat-raised-button color="accent" *ngIf="!BotonActualizar" type="submit">Enviar</button>
                            <button mat-raised-button color="accent" *ngIf="BotonActualizar" (click)="actualizarRegistro()">Actualizar</button>
                            <button mat-raised-button type="button" (click)="buildFormRegistro()">Limpiar</button>
                        </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>

    <br />

    <mat-card fxLayout="column" fxLayout.lg="column" fxLayout.xl="column" class="mat-elevation-z4">

        <mat-card-content *ngIf="Filtrar">
            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                    <h3 class="mat-h2">Criterios de búsqueda</h3>
                </div>
            </mat-card-title>

           

            <div fxLayout="column">
                <form [formGroup]="reportIssued" (ngSubmit)="submitFilters()">

                    <div fxLayout="column" class="overflow-scroll">
                        <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Primer Apellido</mat-label>
                                <input matInput type="text" formControlName="PrimerApellido" maxlength="100">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Segundo Apellido</mat-label>
                                <input matInput type="text" formControlName="SegundoApellido" maxlength="100">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Primer Nombre</mat-label>
                                <input matInput type="text" formControlName="PrimerNombre" maxlength="100">
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Otros Nombres</mat-label>
                                <input matInput type="text" formControlName="OtrosNombres" maxlength="100">
                            </mat-form-field>

                        </div>
                    </div>
                    <div fxLayout="column" class="overflow-scroll">
                        <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">

                            <mat-form-field fxFlex="25" class="espacios">
                                <mat-label>Tipo de identificación</mat-label>
                                <mat-select formControlName="TipoIdentificacion" class="font">
                                    <mat-option *ngFor="let identifiacacion of IdentificationTypeDataSource"
                                        [value]="identifiacacion.value">
                                        {{identifiacacion.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Numero de Identificacón</mat-label>
                                <input matInput type="text" formControlName="NumeroIdentificacion" maxlength="100">
                            </mat-form-field>

                            <mat-form-field fxFlex="25" class="espacios">
                                <mat-label>País</mat-label>
                                <mat-select formControlName="pais" class="font">
                                    <mat-option *ngFor="let pais of PaisTypeDataSource" [value]="pais.value">
                                        {{pais.description}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field fxFlex class="espacios">
                                <mat-label>Correo eléctronico</mat-label>
                                <input matInput type="text" formControlName="correo" maxlength="100">
                            </mat-form-field>



                        </div>

                    </div>

                    <div fxLayout="column" class="overflow-scroll">
                        <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column">
                            <mat-checkbox #checkbox formControlName="estado" class="espacios">
                                Estado
                            </mat-checkbox>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxLayoutAlign="end end">
                        <button mat-raised-button color="accent" type="submit">Buscar</button>
                        <button mat-raised-button type="button" (click)="buildForm()">Limpiar</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-content fxLayout="column" class="overflow-scroll">

            <mat-card-title>
                <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column" fxLayoutAlign.xs="start">
                    <h3 class="mat-h2">Listado de Usuarios</h3>
                </div>
            </mat-card-title>

         

            <div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" fxLayoutAlign="end end">
                <button mat-icon-button fxLayoutAlign="end end">
                    <mat-icon color="accent" matTooltip="Eliminar" (click)="EliminarEmpleado()" *ngIf="selection.length > 0" matTooltipPosition="left">delete_forever</mat-icon>
                    <mat-icon color="accent" matTooltip="Actualizar" (click)="EditarEmpleado()" *ngIf="selection.length > 0" matTooltipPosition="left">refresh</mat-icon>
                    <mat-icon color="accent" matTooltip="Filtrar" (click)="FiltrarFunction()" matTooltipPosition="left">filter_list</mat-icon>
                </button>
            </div>
            

            <table mat-table [dataSource]="dataSource" class="fc-table">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="masterToggle(AllSelect)" [checked]="AllSelect">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-checkbox (click)="$event.stopPropagation()" (change)="isSelect(element)"
                            [checked]="element.check">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Primer Apellido">
                    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_PrimerApellido}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Segundo Apellido">
                    <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_SegundoApellido}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Primer Nombre">
                    <th mat-header-cell *matHeaderCellDef> Primer Nombre </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_PrimerNombre}}
                    </td>
                </ng-container>



                <ng-container matColumnDef="Otros Nombres">
                    <th mat-header-cell *matHeaderCellDef> Otros Nombres </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_OtrosNombres}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="País">
                    <th mat-header-cell *matHeaderCellDef> País </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_Pais}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Tipo de Identificación">
                    <th mat-header-cell *matHeaderCellDef> Tipo de Identificación </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.cd_TipoIdentificacion}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Número de identificación">
                    <th mat-header-cell *matHeaderCellDef> Número de identificación </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.cd_NumeroIdentificacion}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Correo electrónico">
                    <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_CorreoElectronico}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Fecha de Ingreso">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dt_FechaIngreso | date: 'M/d/yyyy, h:mm ss'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Área">
                    <th mat-header-cell *matHeaderCellDef> Área </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.nm_Area}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.ind_Estado ? 'Activo' : 'Bloqueado'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Fecha y Hora de Registro">
                    <th mat-header-cell *matHeaderCellDef> Fecha y Hora de Registro </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dt_FechaHoraRegistro | date: 'M/d/yyyy, h:mm ss'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">

                </tr>
            </table>

            <mat-paginator color="accent" *ngIf="dataSource.data.length > 0" [length]="length"
                [pageSizeOptions]="pageSizeOptions" (page)="getDataPaginated($event)" [pageIndex]="pageIndex - 1"
                [pageSize]="pageSize">
            </mat-paginator>

            <div fxLayout="row" fxLayoutAlign="center end">
                <h4 class="mat-h4 no-data" *ngIf="dataSource.data.length <= 0 ">
                    No existen registros para mostrar.
                </h4>
            </div>

        </mat-card-content>
    </mat-card>

</div>